/* - SITE PAGES - */
/* set padding for post inner */
.singular .post-inner {
	padding-top: 2rem;
}

/* change page header layout on pages that are not the post page */
body:not(.blog) {
	#site-content header.header-footer-group {
		/* remove padding from header */
		padding: 2rem 0 2rem;
		
		/* add accent color background band */
		@media screen and (min-width: 1000px) {
			background: linear-gradient(to bottom, transparent 20%, var(--wp--preset--color--accent) 20%,  var(--wp--preset--color--accent) 80%, transparent 80%);
		}
		
		/* set header inner to display flex, adjust size, set colors */
		.section-inner {
			display: flex;
			flex-direction: column;			
			background: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--background);
			
			padding: 1rem;
			
			&.medium {
				/* add colored borders to single page header */
				border-top: .5em solid var(--wp--preset--color--accent);
				border-bottom: .5em solid var(--wp--preset--color--accent);
				
				width: 120rem;
				max-width: 100%;
				
				@media screen and (min-width: 1000px) {
					border-top: 0;
					border-bottom: 0;
					max-width: calc( 100% - 24px );
				}
			}
			
			&.intro-text {
				padding: 2.5% 0 0;
				
				a {
					color: #ffffff;
				}
			}
			
			.post-meta,
			.post-meta a {
				color: var(--wp--preset--color--background);
			}
		}
		
		/* change styles for header intro text */
		.intro-text {
			font-family: var(--font-base-default);
			
			margin-left: auto;
			margin-right: auto;
			width: 120rem;
			max-width: calc( 100% - 24px );
			
			/* remove margin from headings in intro text */
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0;
			}
		}
	}
}