/* - SITE PAGES - */
/* set padding for post inner */
.singular .post-inner {
	padding-top: 5rem;
}

/* change page header layout on pages that are not the post page */
body:not(.blog) {
	#site-content header.header-footer-group {
		/* remove padding from header */
		padding: 4rem 0 0;
		
		/* set header inner to display flex, adjust size, set colors */
		.section-inner {
			display: flex;
			flex-direction: column;			
			background: var(--wp--preset--color--primary);
			color: var(--wp--preset--color--background);
			
			padding-top: 1%;
			padding-bottom: 1%;
			
			&.medium {
				width: 100vw;
				max-width: 100%;
			}
			
			&.intro-text {
				padding: 2.5% 0 0;
			}
		}
		
		/* change styles for header intro text */
		.intro-text {
			font-family: var(--font-base-default);
			
			margin-left: auto;
			margin-right: auto;
			max-width: calc( 100% - 24px );
			width: 120rem;
			
			/* remove margin from headings in intro text */
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				margin-top: 0;
			}
		}
	}
}